/* 
==========================================================================

Author: mTheme

Content Tabel
+---------------+

-General Classes
-Elements
-Common-Stuff

========================================================================== */


body{
	font-size: 18px;
	line-height: 22px;
}
#wrap{
	overflow: hidden;
}
a:hover,
a:focus{
	outline: none;
	text-decoration: none;
}
img{
	max-width: 100%;
	height: auto;
}
p{
	margin-bottom: 20px;
}
h1,h2,h3,h4,h5,h6{
	font-weight: bold;
	margin: 0 0 15px;
}
.buttons .button{
	line-height: 40px;
	padding: 0 30px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 4px;
	display: inline-block;
	
	border-radius: 25px;	
		-webkit-border-radius: 25px;
}

/*****************************
=========== HEADER ===========
*****************************/
.header{
	position: relative;
}

/* Top */
.header ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.header-top{
	padding-top: 6px;
	line-height: 34px;
	font-size: 16px;
}
.header-top a{
	color: inherit;
}
.header-top .fa + *{
	margin-left: 10px;
}
.header-top .phone .fa{
	line-height: inherit;
	width: 34px;
	text-align: center;
	border-radius: 50%;	
		-webkit-border-radius: 50%;	
}
.header-top-right{
	text-align: right;
}
.header-top-right .widget{
	display: inline-block;
}
.header-top ul.menu > li{
	display: inline-block;
}
.header-top-right .widget + .widget,
.header-top ul.menu > li + li{
	margin-left: 10px;
	padding-left: 15px;
	position: relative;
}
.header-top-right .widget + .widget:after,
.header-top ul.menu > li + li:after{
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	height: 14px;
	width: 1px;
	transform: translate(0, -50%);
		-webkit-transform: translate(0, -50%); /* Chrome, Safari, Opera */
}
.header .cart-icon{
	position: relative;
	padding-right: 5px;
}
.header .cart-icon .cart-count{
    display: inline-block;
    font-size: 12px;
    height: 15px;
    line-height: 15px;
    margin: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: -40%;
    width: 15px;
	border-radius: 50%;	
		-webkit-border-radius: 50%;	
}

/* Middle */
.header-middle{
	margin-top: 20px;
}
#logo{
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 9;
	transform: translate(-50%,0);
		-webkit-transform: translate(-50%,0); /* Chrome, Safari, Opera */
}
/* Menu */
#primary-navigation{
    border: 0 none;
    border-radius: 0;
    margin: 0;
    min-height: 0;
    line-height: 50px;
}
#navbar{
	padding: 0;
}
#navbar ul.navbar-nav{
	float: left;
}
#navbar ul.navbar-nav + ul.navbar-nav{
	float: right;
}
#primary-navigation .navbar-nav > li + li{
	margin-left: 55px;
}
#primary-navigation .navbar-nav > li > a{
	font-weight: bold;
	text-transform: uppercase;
	background: transparent !important;
	padding: 0;
	line-height: inherit;
	font-size: 18px;
}

/*****************************
============ MAIN ============
*****************************/
/* Input & Button */
input, select{
	line-height: 46px;
	height: 46px;
	width: 100%;
	border: 0;
	padding: 0 20px;
}
select {
	background-color: transparent;
	appearance: none;
		-moz-appearance: none;
			-webkit-appearance: none;
}
.select-wrap{
	display: inline-block;
    position: relative;
    width: 100%;
    z-index: 0;
}
.select-wrap:after{
	//content:"\f107";
	font-family:'FontAwesome';
	z-index: -1;
	top: 0;
	bottom: 0;
	right: 20px;
	line-height: 46px;
	position: absolute;
	font-size: 15px;
}
.buttons .button{
	line-height: 46px;
	height: 46px;
	width: auto;
	padding: 0 55px;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 20px;	
		-webkit-border-radius: 20px;	
}


.section{
	padding: 90px 0;
}
.section-bg{
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: 100%;
	padding: 0;
}
.section-bg .section-inner{
	padding: 90px 0;
	position: relative;
	z-index: 0;
}
.section-bg .section-inner:after{
	z-index: -1;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.9;
	position: absolute;
}
.section-radius {
    height: 70px;
    left: 0;
    overflow: hidden;
    position: absolute !important;
    right: 0;
    top: 0;
}
.section-radius-bottom{
    top: auto;
    bottom: 0;
}
.section-radius:after{
    content: "";
    left: -50%;
    position: absolute;
    right: -50%;
    height: 700px;
    z-index: 9;
    bottom: 100%;
    border-radius: 0 0 50% 50%;	
		-webkit-border-radius: 0 0 50% 50%;
	
	box-shadow: 0 100px 0 100px #fff;
		-webkit-box-shadow: 0 100px 0 100px #fff;
	
	transform: translate(0, -145px);
		-webkit-transform: translate(0, -145px);
}
.section-radius-bottom:after{
	transform: translate(0, 70px);
		-webkit-transform: translate(0, 70px);	
}
/*
.section-radius{
	position: relative;
	overflow: hidden;
}
.section-radius-bottom:after{
    bottom: 0;
    content: "";
    left: -50%;
    position: absolute;
    right: -50%;
    height: 700px;
    z-index: 9;
    border-radius: 0 0 50% 50%;	
		-webkit-border-radius: 0 0 50% 50%;
	
	box-shadow: 0 100px 0 100px #fff;
		-webkit-box-shadow: 0 100px 0 100px #fff;
}
.section-radius-bottom:after{
	bottom: 100%;
	transform: translate(0, -145px);
		-webkit-transform: translate(0, -145px);
}*/
.section-header{
    margin-bottom: 45px;
    padding-bottom: 15px;
    position: relative;
    text-align: center;
}
.section-header:after,
.section-header:before{
	content: "";
	position: absolute;
	left: 50%;
	bottom: -2px;
	height: 2px;
	width: 360px;
	border: 1px solid;
	
	transform: translate(-50%,0);
		-webkit-transform: translate(-50%,0);
}
.section-header:after{
	width: 60px;
}
.section-title{
	font-size: 45px;
	text-transform: uppercase;
	margin-bottom: 0;
}
.section-subtitle{
}
.section-title + .section-subtitle{
    margin-bottom: 10px;
    margin-top: 10px;
}
.entry-title{
	font-size: 22px;
	text-transform: uppercase;
	margin-bottom: 10px;
	line-height: 26px;
}
.entry-title a{
	color: inherit;
}
.slider{
	position: relative;
}
/* Section detail */
.section-welcome{
	overflow: hidden;
}
.section-welcome .section-title{
	font-size: 35px;
	text-align: left;
}
.section-welcome .section-header:after,
.section-welcome .section-header:before{
	left: 0;
	transform: translate(0,0);
		-webkit-transform: translate(0,0);
}
.section-welcome .section-header:after{
	left: 10px;
}
.section-welcome .section-content i{
	font-size: 20px;
}
.section-welcome .section-content figure{
	position: relative;
	padding-left: 95px;
}
.section-welcome .section-content figure .more{
	width: 110px;
	height: 110px;
	position: absolute;
	left: 0;
	bottom: 25px;
	text-align: center;
	line-height: 110px;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 50%;	
		-webkit-border-radius: 50%;	
}
.welcome-info{
	margin-left: 50px;
	position: relative;
	z-index: 0;
}
.welcome-info:after{
    border-left: 2px dashed;
    bottom: 100px;
    content: "";
    left: 55px;
    position: absolute;
    top: -100px;
    z-index: -1;
}
.welcome-info .welcome-info-item + .welcome-info-item{
	margin-top: 70px;
}
.welcome-info .entry-thumbnail{
	float: left;
	margin-right: 30px;
	overflow: hidden;
	height: 110px;
	width: 110px;
	border-radius: 50%;	
		-webkit-border-radius: 50%;	
}
.welcome-info .entry-body{
	overflow: hidden;
	padding-top: 5px;
}

/* Our Products */
.section-products .section-header{
	margin-bottom: 35px;
}
.section-products .section-header:before{
	opacity: 0.4;
}
.cat-detail .entry{
	padding-right: 60px;
}
.cat-detail .entry-title{
	font-size: 25px;
	color: #fff;
	margin-bottom: 20px;
	margin-top: 70px;
}
.cat-detail .entry .button{
	line-height: 38px;
}
.cat-detail .entry .buttons{
	margin-top: 25px;
}
.cat-detail .entry .button + .button{
	margin-left: 10px;
}
.cat-detail .featured-products{
}
.cat-detail .featured-products ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.cat-detail .featured-products ul li{
	padding-left: 25px;
	background-image: url(../imgs/icon/icon.png);
	background-position: left center;
	background-repeat: no-repeat;
}
.cat-detail .featured-products ul li + li{
	margin-top: 10px;
}
.cat-detail .featured-products ul a{
	color: inherit;
}
.cat-detail .entry-thumbnail{
	margin-bottom: -190px;
}
.cat-detail .entry-thumbnail img{
	max-width: 420px;
}
.section-products .section-content{
	position: relative;
}
.section-products{
    background-attachment: scroll;
    background-position: center 74%;
    background-size: 80% auto;
    padding-bottom: 440px;
    background-repeat: no-repeat;
    overflow: hidden;
}
.section-products .section-inner{
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: 100%;	
}
.cats-list{
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;	
    margin-top: 90px;
    padding-top: 145px;
    padding-bottom: 25px;
}
.cats-list:after{
    border-bottom: 2px solid #eaeaea;
    bottom: 0;
    content: "";
    height: 1200px;
    left: -50%;
    position: absolute;
    right: -50%;
    z-index: -1;
	border-radius: 50%;	
		-webkit-border-radius: 50%;
}
.cats-list ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.cats-list ul li{
	float: left;
	width: 16.66%;
	text-align: center;
	padding: 0 25px;
}
.cats-list ul li:nth-child(2),
.cats-list ul li:nth-child(5){
	margin-top: -30px;
}
.cats-list ul li:nth-child(1),
.cats-list ul li:nth-child(6){
	margin-top: -75px;
}
.cats-list .cat-title{
	margin: 0;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
	padding-top: 5px;
}
.cats-list .cat-title a{
	color: inherit;
}
.nutrition-philosophy-items{
	padding-top: 50px;
}
.nutrition-philosophy-items ul{
	padding: 0;
	margin-bottom: 0;
	list-style: none;
	text-align: right;
	position: relative;
	z-index: 2;
}
.nutrition-philosophy-items ul li + li{
	margin-top: 80px;
}
.nutrition-philosophy-items ul li{
	margin-right: -25px;
}
.nutrition-philosophy-items ul li:first-child,
.nutrition-philosophy-items ul li:last-child{
	margin-right: -80px;
}
.nutrition-philosophy-items ul.box-right li{
	margin-left: -25px;
	margin-right: 0;
}
.nutrition-philosophy-items ul.box-right li:first-child,
.nutrition-philosophy-items ul.box-right li:last-child{
	margin-right: 0px;
	margin-left: -80px;
}
.nutrition-philosophy-items .box-right{
	text-align: left;
}
.nutrition-philosophy-items .entry-thumbnail{
	width: 85px;
	height: 85px;
	line-height: 85px;
	float: right;
	margin-left: 20px;
	overflow: hidden;
	position: relative;
	border-radius: 50%;	
		-webkit-border-radius: 50%;	
}
.nutrition-philosophy-items .box-right .entry-thumbnail{
	margin-right: 20px;
	margin-left: 0;
	float: left;
}
.nutrition-philosophy-items .entry-thumbnail .np-icon{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	line-height: inherit;
	text-align: center;
	transition: all 0.3s;
		-webkit-transition: all 0.3s;
}
.nutrition-philosophy-items  .nutrition-philosophy-item:hover .np-icon{
	opacity: 0;
}
.nutrition-philosophy-items .entry-body{
	overflow: hidden;
}
.nutrition-philosophy-items .entry-title a{
	transition: all 0.3s;
		-webkit-transition: all 0.3s;	
}
.nutrition-philosophy-items .box-image{
	text-align: center;
	position: relative;
	height: 410px;
	z-index: 1;
}
.nutrition-philosophy-items .box-image img{
	margin-top: 55%;
	transform: translate(0, -50%);
		-webkit-transform: translate(0, -50%);
}
.nutrition-philosophy-items .box-image:after{
	content: "";
	width: 460px;
	height: 460px;
	border: 5px solid;
	position: absolute;
	top: -25px;
	left: 50%;
	z-index: -1;
	border-radius: 50%;
		-webkit-border-radius: 50%;
	transform: translate(-50%, 0);
		-webkit-transform: translate(-50%, 0);
}

/* Testimonial */
.section-testimonials{
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
	padding: 215px 0 70px;
}
.section-testimonials:before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 0.5;
	z-index: 0;
}
.section-testimonials > *{
	position: relative;
	z-index: 1;
}
.testimonials-slider .slider-flickity{
	padding-bottom: 100px;
}
.testimonials-slider .testimonial{
	width: 50%;
	padding: 0 30px;
}
.testimonial .entry-thumbnail{
	float: left;
	width: 100px;
	height: 100px;
	margin-right: 25px;
	overflow: hidden;
	margin-top: 15px;
	border-radius: 50%;	
		-webkit-border-radius: 50%;	
}
.testimonial .entry-body{
	overflow: hidden;
}
.testimonial .entry-title{
    color: inherit;
    font-size: 20px;
    margin-bottom: 15px;
    padding-bottom: 20px;
    position: relative;
}
.testimonial .entry-title:after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 40px;
}
.testimonial .entry-name:after{
	content: "/";
	display: inline-block;
	margin: 0 5px;
}
.testimonial .entry-content:after{
	content: "\f10e";
	font-family:'FontAwesome';
	display: inline-block;
	display: none;
}
.testimonials-slider .flickity-page-dots{
	bottom: 0;
}

/* why-choose-us */
.why-choose-us ul{
	margin: 0;
	padding: 50px 50px 0 0;
	list-style: none;
	text-align: right;
}
.why-choose-us ul li + li{
	padding-top: 65px;
}
.why-choose-us ul .entry-thumbnail{
    float: right;
    height: 85px;
    line-height: 85px;
    margin-left: 25px;
    position: relative;
    width: 85px;	
    text-align: center;
    border-radius: 50%;	
		-webkit-border-radius: 50%;	
}
.why-choose-us ul li + li .entry-thumbnail:after{
	content: "";
	border-left: 2px dashed;
	position: absolute;
	top: -70px;
	bottom: 0;
	right: 50%;
	z-index: -1;
}

/* Clients Logo */
.section-clients-logo{
	padding: 55px 0;
	border-bottom: 1px solid;
}
.clients-logo-slider{
	
}
.clients-logo-slider .client-logo{
	width: 20%;
	text-align: center;
	min-height: 135px;
	line-height: 135px;
	opacity: 0.2;
	transition: all 0.3s;
		-webkit-transition: all 0.3s;
}
.clients-logo-slider .client-logo.is-selected,
.clients-logo-slider .client-logo:hover{
	opacity: 1;
}
.slider-flickity .flickity-prev-next-button{
	height: 40px;
	line-height: 40px;
	width: 40px;
	text-align: center;
	left: -20px;
	transition: all 0.25s;
		-webkit-transition: all 0.25s;	
}
.slider-flickity .flickity-prev-next-button.next{
	left: auto;
	right: -20px;
}
.flickity-prev-next-button .arrow{
	transition: all 0.25s;
		-webkit-transition: all 0.25s;		
}

/* Custom section */
.section-custom{
	position: relative;
	z-index: 0;
}
.section-custom:before{
	content: "";
	position: absolute;
	top: 0;
	right: 50%;
	left:0;
	bottom: 0;
	z-index: -1;	
}
.section-custom .section-inner:before,
.section-custom .section-inner:after{
    background-image: url("../../images/home/bg-3.jpg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    content: "";
    left: 50%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -2;
}
.section-custom .section-inner:after{
	background-image: none;
	z-index: -1;
	opacity: 0.5;
}
.section-custom .container > .row {
	margin: 0;
}
.section-custom .container > .row > *{
	padding: 0;
}
/* Hot detail */
.hot-detail{
	position: relative;
}
.hot-detail .entry-header,
.contact-box .entry-header{
	margin-bottom: 25px;
}
.hot-detail .entry-title,
.contact-box .entry-title {
	font-size: 35px;
	color: inherit;
}
.hot-detail .entry-subtitle span{
	font-size: 25px;
	font-weight: bold;
}
.hot-detail .entry-thumbnail{
    left: -345px;
    position: absolute;
    top: -60px;
    z-index: 99;
}
.hot-detail .entry-thumbnail fieldset a{
    bottom: 130px;
    display: block;
    font-size: 18px;
    font-weight: 600;
    height: 80px;
    line-height: 20px;
    padding: 20px 15px;
    position: absolute;
    right: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 80px;
	border-radius: 50%;	
		-webkit-border-radius: 50%;	
}
.countdown{
	position: relative;
	z-index: 0;
}
.countdown:after{
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	right: 90%;
	left: -150px;
	z-index: -1;
}
.countdown-items{
	padding: 20px 0;
	margin-bottom: 20px;
	position: relative;
}
.countdown-items .countdown-item{
	float: left;
	padding: 0 30px;
	text-align: center;
	text-transform: uppercase;
	line-height: 14px;
	font-size: 16px;
}
.countdown-items .countdown-item + .countdown-item{
	border-left: 1px solid;
}
.countdown-items .countdown-item .f-color{
	font-size: 30px;
	font-weight: bold;
	display: block;
	line-height: 24px;
	margin-bottom: 8px;
}
.hot-detail .entry-content {
	padding-left: 115px;
	line-height: 32px;
}
/* Contact box */
.contact-box{
	/*padding-left: 100px;*/	
}
.contact-box .entry-subtitle{
	text-transform: uppercase;
}
/* Contact form */
.wpcf7-form p{
	margin: 0;
}
.wpcf7-form .row{
	margin-bottom: 25px;
}
.wpcf7-form label{
    float: left;
    font-weight: normal;
    margin: 0;	
    line-height: 46px;
}
.wpcf7-form .contact-form-dog input{
	width: 145px;
	float: right;
}
.wpcf7-form .contact-form-cat input{
	float: right;
	width: 185px;
}

/* Blog */
.blog .post .entry{
	padding: 0 5px;
}
.blog .post .entry-thumbnail{
	margin-bottom: 	45px;
	position: relative;
}
.blog .post .entry-thumbnail img{
	border-radius: 10px;	
		-webkit-border-radius: 10px;
}
.blog .post .entry-date{
    bottom: 0;
    font-size: 15px;
    font-weight: bold;
    height: 65px;
    left: 20px;
    line-height: 18px;
    padding: 12px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 65px;
    
	border-radius: 50%;	
		-webkit-border-radius: 50%;	
		
	transform: translate(0, 50%);
		-webkit-transform: translate(0, 50%);
}
.blog .post .entry-date-number{
	font-size: 20px;
}
.blog .post .entry-title{
	margin-bottom: 15px;
}
.blog .post .entry-content{
	margin-bottom: 30px;
}


/*****************************
=========== FOOTER ===========
*****************************/
.footer-info{
	padding: 60px 0;
}
.footer-info .widget-title{
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 2px;
    padding-top: 8px;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.footer-info ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.footer-info ul > li{
	padding-left: 0;
}
.footer-info ul > li:before{
	display: none;
}
.footer-info a{
	color: inherit;
}
.footer-about img{
	margin-bottom: 35px;
}
.footer-info .widget-twitter li{
	padding-left: 30px;
	position: relative;
}
.footer-info .widget-twitter li > .fa{
    left: 0;
    line-height: 30px;
    position: absolute;
    top: 0;
}
.footer-info .widget-twitter li > a{
	display: block;
}
.footer-info .container > .row {
    display: inline-block;
    margin-bottom: -30px;
}
.footer-info .widget{
	margin-bottom: 30px;
}
.copyright{
	line-height: 80px;
	text-align: center;
}

.footer-v2{
	text-align: center;
}
.footer-v2 .footer-about ul li{
	display: inline-block;
	line-height: 8px;
	width: auto;
}
.footer-v2 .footer-about ul li + li{
	margin-left: 8px;
	padding-left: 8px;
	border-left: 1px solid;
}
.footer-v2 .copyright{
	border-top: 1px solid;
}
.footer-v3 {
	text-align: center;
}
.footer-v3 .menu li{
	display: inline-block;
}
.footer-v3 .menu li + li{
	margin-left: 20px;
}
.footer-v3 .menu li a{
	color: inherit;
}
